<div *blockUI="'appRoot'" style="position: static">
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-auto">
        <span class="copyright">Copyright &copy; HomeMade 2017</span>
      </div>
      <div class="col-md-4 col-sm-auto">
        <span style="font-family: Pacifico, sans-serif; font-size: 2rem" class="homemade-color">HomeMade</span>
      </div>
      <div class="col-md-4 col-sm-auto">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
